<DOCTYPE html>
<html>
  <head>
    <title>Responsive Calculator</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app='calculator'>


    <div class="l-wrap" align="center" ng-controller="calcController">
      <div class="three-col-grid">
        <div class="grid-item" ng-click=addToStorage(1)>1</div>
        <div class="grid-item" ng-click=addToStorage(2)>2</div>
        <div class="grid-item" ng-click=addToStorage(3)>3</div>
      </div>
      <div class="three-col-grid">
        <div class="grid-item" ng-click=addToStorage(4)>4</div>
        <div class="grid-item" ng-click=addToStorage(5)>5</div>
        <div class="grid-item" ng-click=addToStorage(6)>6</div>
      </div>
      <div class="three-col-grid">
        <div class="grid-item" ng-click=addToStorage(7)>7</div>
        <div class="grid-item" ng-click=addToStorage(8)>8</div>
        <div class="grid-item" ng-click=addToStorage(9)>9</div>
      </div>
      <div class="three-col-grid">
        <div class="grid-item" ng-click=addToStorage(0)>0</div>
        <div class="grid-item" ng-click=addToStorage('+')>&plus;</div>
        <div class="grid-item" ng-click=addToStorage('-')>&minus;</div>
      </div>
        <div class="three-col-grid">
        <div class="grid-item" ng-click=addToStorage('*')>&times;</div>
        <div class="grid-item" ng-click=addToStorage('/')>&#247;</div>
        <div class="grid-item" id="equals" ng-click=calculate(storage)>=</div>
      </div>
      <div class="three-col-grid error-box" ng-show="showValue">{{ errorMessage }}
      </div>
      <div class="three-col-grid answer-box">{{ answer }}
      </div>
      <div class="three-col-grid answer-box" id="clear-box" ng-click=resetAnswer()>
      Clear
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src='app.js'></script>
  </body>
</html>