div {
  border-radius: 2%;
}

.h1 {
  height: 10vh;
}

.l-wrap {
  height:90vh;
  width: 90vw;
}

.three-col-grid {
  height: 12vh;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grid-item {
  width: calc(30vw - 10px);
  margin-left: 5px;
  margin-right: 5px;
  height: 12vh;
  float: left;
  background-color: grey;
  font-size: 11vh;
}

.answer-box {
  background-color: grey;
  margin-left: 5px;
  margin-right: 5px;
  border-width: 1px;
  border-color: black;
  font-size: 11vh;
}
